.profile-img {
  width: 100%;
  height:auto;
  margin-bottom: 0%;
  border-radius: 80%;
}
.profile-title {
  font-size: 25px;
  margin-bottom: 10px;
}
.location {
  font-size: 14px;
  color: green;
  margin-bottom: 0%;
}
.species {
  font-size: 16px;
  margin-bottom: 20px;
}

.gender {
  font-size: 16px;
  color: aqua;
}
